h1{
	text-align: center;
}
.links{
	display: flex;
	justify-content: space-around;
}
ul li{
	color: red;
	font-size: 1.1em;
}
table{
	border-collapse: collapse;
	border: 1px solid black;
}
td{
	padding: 10px;
	border: 1px solid black;
	text-align: center;
}
button{
	margin:10px;
}
.form1{
	display: inline-block;
}
.video{
	display: flex;
	justify-content: center;
}