.ListItems{
	color: blue;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 0 5% 0 5%;
	> li{
		list-style-type: none;
		transition: .5s;
		&:hover{
			transform: scale(1.12);
		}
		div{
			text-align: center;
			padding: 10px;
		}
	}
	.barlink{
		text-decoration: none;
		pointer-events: none;
		&:active{
			color: black;
		}
		&:visited{
			color: black;
		}
	}
	.icon{
		display: block;
		margin: auto;
	}
}

.mainlist > li 
.icon{
	display: block;
	margin: auto;
}
.barlink{
	text-decoration: none;
	pointer-events: none;
	pointer-events: none;
}
.mainlist > li
.barlink:active{
	color: black;
}
.barlink:visited{
	color: blue;
}