.mainlist{
	color: blue;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-left: 0; /* Отступ слева в браузере IE и Opera */
    padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
}
.mainlist > li{
	list-style-type: none;
	transition: .5s;
}
.mainlist > li div{
	text-align: center;
	padding: 10px;
}
.mainlist > li:hover{
	transform: scale(1.12);
}
.icon{
	display: block;
	margin: auto;
}
.barlink{
	text-decoration: none;
	pointer-events: none;
	pointer-events: none;
}
.barlink:active{
	color: black;
}
.barlink:visited{
	color: blue;
}