@media all and (max-width: 650px){
	.bars{
		flex-direction: column;
		text-align: center;

	}
	.h_2 img{
		display: none;
	}
	.bar:hover{
	  	transform: scale(1.0);
	}
}


.h_1{
	background-color: #444444;
	display: flex;
	justify-content: flex-start;
}
.h_1 .block{
	margin: 5px;
	margin-left: 2%;
	color: #eeeeee;
}
.h_2{
	background-color: #00b2dd;
	display: flex;
}
.h_2 img{
	left: 10px;
	width: 200px;
	height: 100%;
}
.h_2 .bars{
	width: 100%;
	margin: auto;
	display: flex;
	justify-content: space-around;
}
.bar{
  padding: 20px;
  transition: ease-out .3s;
  text-decoration: none;
  color: black;
}
.bar:visited{
	color: black;
}
.bar:hover{
	background-color: #0080ff;
  	transform: scale(1.2);
}
.bar:active{
  color:pink;
}
