@media all and (max-width: 650px){
	.bars{
		flex-direction: column;
		text-align: center;
	}
	.h_2 img{
		display: none;
	}
	.bar:hover{
	  	transform: scale(1.0);
	}
}
.fade-appear{
	opacity: 0;
	z-index: 1;
}
.fade-appear-active{
	opacity: 1;
	transition: opacity 600ms linear;
}
.fade-enter{
	opacity: 0;
	z-index: 1;
}
.fade-enter-active{
	opacity: 1;
	transition: opacity 600ms linear;
}
.upToTop{
	color: white;
	display: flex;
  align-items: center;
  justify-content: center;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: #10c8d2;
	cursor: pointer;
	position: fixed;
	font-size: 30px;
	font-weight: 900;
	right: 5%;
	bottom: 5%;
}
.h_1{
	background-color: #444444;
	display: flex;
	justify-content: flex-start;
}
.h_1 .block{
	margin: 5px;
	margin-left: 2%;
	color: #eeeeee;
}
.h_2{
	display: flex;
}
.h_2 img{
	height: 100%;
	width: 90px;
}
.h_2 .bars{
	background-color: #6584F2;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.h_2 .bars > * div{
	display: flex;
	align-items: center;
}
.h_2 .bars > * div span{
	padding: 5px;
}
.sign{
	display: flex;
	flex-direction: column;
}
.signin{
	border: 1px solid black;
	border-radius: 10px;
	overflow: auto;
}
.bar{
	border-radius: 50%;
	margin-right: 10px;
	margin-left: 10px;

    transition: ease-out .3s;
    text-decoration: none;
    color: black;   
}
.bar > div{
    padding: 10px;
}
.bar:visited{
	color: black;
}
.bar:hover{
	color: white;
}
.bar:active{
	color:pink;
}
