@media all and (max-width: 650px){
	.bars{
		flex-direction: column;
		text-align: center;
	}
	.h_2 img{
		display: none;
	}
	.bar:hover{
	  	transform: scale(1.0);
	}
}
.upToTop{
	cursor: pointer;
	position: fixed;
	font-size: 30px;
	font-weight: 900;
	right: 5%;
	bottom: 5%;
}
.h_1{
	background-color: #444444;
	display: flex;
	justify-content: flex-start;
}
.h_1 .block{
	margin: 5px;
	margin-left: 2%;
	color: #eeeeee;
}
.h_2{
	display: flex;
}
.h_2 img{
	height: 100%;
	width: 80px;
}
.h_2 .bars{
	background-color: #00b2dd;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.sign{
	display: flex;
	flex-direction: column;
}
.signin{
	border: 1px solid black;
	border-radius: 10px;
	overflow: auto;
}
.bar{
	border-radius: 50%;
	margin-right: 10px;
	margin-left: 10px;

    transition: ease-out .3s;
    text-decoration: none;
    color: black;   
}
.bar > div{
    padding: 10px;
}
.bar:visited{
	color: black;
}
.bar:hover{
	background-image: radial-gradient(ellipse at 50%, #0080ff, #00b2dd, aqua);  
}
.bar:active{
	color:pink;
}
