@media all and (max-width: 1000px){
	.serviceitem{
		margin-left: 200px;
		margin-right: 200px;
	}
}
.services{
}
.services > header{
	text-align: center;
	font-size: 32px;
	font-family: sans-serif;
	font-weight: 600;
	margin: 20px;		
}
.serviceslist{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	-webkit-flex-flow: row wrap;
	flex-flow: wrap;
}
.serviceitem{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-left: 20px;
	margin-right: 20px;
}
.serviceitem h3:first-letter{
	color: blue;
}
.serviceitem h3:after{
	content: ' \2b9a';
}
.serviceitem h3{
	transition: .5s;
	cursor: pointer;
}
.serviceitem img{
	cursor: pointer;
}
.serviceitem h3:hover{
	transform: scale(1.1);
}
