button{
	margin-top: 20px;
	cursor: pointer;
	outline: none;
	font-family: 'Formular-Regular';
	font-weight: 900;
	font-size: 14px;
	border: 2px solid #10c8d2;
	border-radius: 4px;
	padding: 3px 5px;
	color: #10c8d2;
	background-color: #fff;
	transition: .225s;
}
button
h1{
	text-align: center;
}
.App-wrapper{
	font-family: 'Formular-Regular';
	position: relative; 
	color: rgb(67, 67, 67);
	line-height: 1.5;
	font-weight: 400;
	font-size: 14px;
	height: 100%;
}
.App-wrapper > div{
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
.App-wrapper div {}