
button{
	border-radius: 10%;
}
.App-wrapper{
	font-family: 'Formular-Regular';
	position: relative; 
	color: rgb(67, 67, 67);
	line-height: 1.5;
	font-weight: 400;
	font-size: 14px;
}
.App-wrapper > div{
	display: flex;
	flex-direction: column;
	min-height: 100%;
}