@media all and (max-width: 650px){
	.mainform form {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}
@media all and (min-width: 650px){
	.mainform form{
		display: flex;
		flex-direction: row;
		justify-content: space-around;
	}
}
.mainform{
	width: 90%;
	margin: auto;
	background-color: #cdcbf5;
	padding: 15px;
}
.mainform h2{
	text-align: center;
}

.mainform label{
	color: #3e3c63;
	font-size: 1em;
	font-family: "Delivery",Verdana,sans-serif;
}
.mainform option{
	padding: 10px;
	margin: 15px;
}
